body, html{
  height:100%;
}

.initialBG{
  margin: 0px;
  background-image: url("src/pics/bike-circle.jpeg");
  background-size: cover;
  background-position: center;
}

.newBG{
  margin: 0px;
  background-image: url("src/pics/giphy.gif");
  background-size: cover;
  background-position: center;
}

body, a:link, a:visited, a:active{
  color: gold;
}

a:hover{
  color: white;
  cursor: pointer;
}

.title, .addDancerButton, .addDancerOneButton, .addDancerTwoButton, .lineUpButton, .objectDanceParty{
  font-size: 18px;
  padding:5px 12px;
  float:left;
  font-family: 'Helvetica', sans-serif;
  color:gold;
}

.topbar{
  height:32px;
  background-color: darkblue;
}

.title:hover{
  color: white;
  cursor: pointer;
}

.Dancer{
  border:5px solid black;
  border-radius:10px;
  position:absolute;
  transition: width 1s, height 1s;
}

.Dancer:hover{
  animation:shake 0.5s infinite;
  height:500px;
  width:500px;
  border: 15px solid red;
}

.dancerOne{
  border:5px solid black;
  border-radius:5px;
  position:absolute;
  animation: shake 1s infinite;
  transition: width 2s, height 2s;
}

.dancerOne:hover{
  width: 300px;
  height: 300px;
}

.DancerTwo{
  border:5px solid black;
  border-radius:5px;
  position:absolute;
  animation: rotation 3s infinite linear;
}

.DancerTwo:hover{
  animation: backwardsRotation 1.5s infinite linear; 
}

.lineUp{
  position: relative;
  float:left;
  margin:10px 10px;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes backwardsRotation {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-15px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-15px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, 15px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
