body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color:#444;
  background-image: url("src/pics/bike-circle.jpeg");
  background-size: cover;
  background-position: center;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: gold;
}
a:hover{
  color: white;
  cursor: pointer;
}
.title, .addDancerButton, .addDancerOneButton, .addDancerTwoButton, .lineUpButton{
  padding:5px 12px;
  float:left;
  font-family: 'Helvetica', sans-serif;
  color:gold;
}
.topbar{
  height:32px;
  background-color: darkblue;
}
.title{
  background-color: navy;
}
.title:hover{
  color: white;
}
.Dancer{
  border:5px solid black;
  border-radius:10px;
  position:absolute;
}
.dancerOne{
  border:5px solid black;
  border-radius:5px;
  position:absolute;
}
.DancerTwo{
  border:5px solid black;
  border-radius:5px;
  position:absolute;
  animation: rotation 3s infinite linear;
}
.lineUp{
  margin:10px 10px;
  position: relative;
  float:left;
}
@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

